body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


	h1 {
		margin:15px 0px 40px 0px;
	}
	.install strong {
		font-size: 2em;
		border-bottom:5px solid #336699;
	}
	.install {
		font-size:1.3em;
		margin:30px 0px;
	}
	ul.description {
		float:left;
		text-align:right;
	}
	ul.description {
		font-size:1.3em;
	}
	ul.description li {
		list-style-type:none;
		padding:5px;
		
	}
	#footer {
		clear:both;
		background-color:#3972A5;
		border-top:5px solid #336699;
	}
	#header {
		background-color:#eee;
	}
	.screenshots img {
		margin:5px;
		border:3px solid #ccc;
	}
